html, body, div, p, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

html {
  font-size: 16px;
}

/*
catalog
*/
.catalog-container {
  color: #5f6368;
}

.catalog____results-count {
  white-space: nowrap;
}


/*
drawer
*/

.drawer-content {
  position: relative;
  display: block;
  height: 100%;
  min-height: 100vh;
  color: #202124;
}

.full-page {
  background: #fff;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

/*
grid
*/

.title_grid-container {
  box-sizing: border-box;
  align-content: start;
  align-content: center;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr;
  justify-content: space-around;
  row-gap: 24px;
  margin-bottom: 24px;
}

.title_grid____content {
  display: block;
  min-height: 300px;
  min-width: 0;
  text-align: center; 
}

.title_grid____block {
  border-radius: 8px;
  border: 1px solid #dadce0;
  box-sizing: border-box;
  display: block;
  height: 100%;
  min-height: 300px;
  overflow: hidden;
  padding: 16px;
}


.title_grid____header_top {
  display: flex;
  position: relative;
  width: 100%;
}

.title_grid____text {
  display: inline-block;
  margin-bottom: 8px;
  resize: none;
  width: 100%;
  word-break: break-word;
}